.signup-dark-header {
    height: 72px;
    background-color: #0f1f1f;
    border-bottom: 1px solid #3f4f4f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: background-color .3s ease;
}

.signup-light-header {
    height: 72px;
    background-color: #dfefef;
    border-bottom: 1px solid #9fafaf;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: background-color .3s ease;
}

.signup-title-link {
    display: flex;
    flex-direction: row;
}

.signup-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 40px;
}

.signup-dark-link-title {
    transition: 0.3s;
    color: #dfefef;
    margin-left: 2rem;
    font-weight: 600;
    text-decoration: none;
}

    .signup-dark-link-title:active {
        color: #cccccc;
    }

.signup-light-link-title {
    transition: 0.3s;
    color: #1f2f2f;
    margin-left: 2rem;
    font-weight: 600;
    text-decoration: none;
}

    .signup-light-link-title:active {
        color: #4f5f5f;
    }

.signup-body {
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.signup-navbar-dark {
    width: 40vw;
    height: calc(100vh - 73px);
    background-size: 100% 100%;
    background-position: center;
    background-color: #1f2f2f;
    transition: background-image .3s ease-in-out;
}

.signup-navbar-light {
    width: 40vw;
    height: calc(100vh - 73px);
    background-size: 100% 100%;
    background-position: center;
    background-color: #cfdfdf;
    transition: background-image .3s ease-in-out;
}

.signup-main-dark {
/*    width: 60vw;*/
    width: 100vw;
    height: calc(100vh - 73px);
    background-color: #0f1f1f;
    transition: background-color .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-main-light {
/*    width: 60vw;*/
    width: 100vw;
    height: calc(100vh - 73px);
    background-color: #dfefef;
    transition: background-color .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-main-dark-title {
    color: #cfdfdf;
    font-size: 7vh;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    transition: .3s;
}

.signup-main-light-title {
    color: #1f2f2f;
    font-size: 7vh;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    transition: .3s;
}

.signup-main-dark-inputs {
    transition: .3s;
    border-radius: 3vh;
    background-color: #cfdfdf33;
    height: 75vh;
    margin-bottom: 10vh;
    width: 40vw;
    margin-top: 3vh;
}

.signup-main-light-inputs {
    transition: .3s;
    border-radius: 3vh;
    background-color: #ffffff55;
    height: 75vh;
    margin-bottom: 10vh;
    width: 40vw;
    margin-top: 3vh;
}
